Styles for the container div
.table-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Styles for the table */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Styles for the table header */
  .table thead th {
    background-color: #343a40;
    color: #fff;
    text-align: left;
    padding: 12px;
    font-weight: bold;
  }
  
  /* Styles for the table body */
  .table tbody td {
    padding: 12px;
    border: 1px solid #dee2e6;
  }
  
  /* Styles for table row hover effect */
  .table tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  /* Styles for table action icons */
  .table .fa-eye,
  .table .fa-edit,
  .table .fa-trash {
    cursor: pointer;
  }
  
  .table .fa-edit {
    color: yellow;
    margin-right: 18px;
  }
  
  .table .fa-trash {
    color: red;
  }
  .table-container {
    width: 100%; 
    margin-left: 20%; /* set the left margin to the width of the sidebar */
    margin-right: auto;
    overflow: auto;
  }

  .paginationBttns {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .paginationBttns li {
    margin: 0 10px;
  }
  
  .paginationBttns li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
  }
  
  .paginationBttns li a:hover {
    background-color: #f2f2f2;
  }
  
  .paginationActive a {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
  
  .previousBttn, .nextBttn {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
  }
  
  .previousBttn:hover, .nextBttn:hover {
    background-color: #f2f2f2;
  }
  
  .paginationDisabled a {
    opacity: 0.5;
    pointer-events: none;
  }
  
  