.table td{
    color: white;
}
.paginationBttns {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .paginationBttns li {
    margin: 0 5px;
    
  }
  
  .paginationBttns li a {
    display: block;
    padding: 4px 5px;
    border: 1px solid white;
    color: #e9e0e0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .paginationBttns li a:hover {
    background-color: #333;
    color: white;
  }
  
  .paginationActive a {
    background-color: #dcd7d7;
    color: white;
    border-color: #333;
  }
  
  .previousBttn, .nextBttn {
    display: block;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 40px;
    color: #f3e9e9;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .previousBttn:hover, .nextBttn:hover {
    background-color: #fbfafa;
    color: white;
  }
  
  .paginationDisabled a {
    opacity: 0.5;
    pointer-events: none;
  }
  